.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    font-size: 0.85rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: white;
}

.card-body {
    width: 70%;
    line-height: 1.25rem;
}

.card-btn {
    all:unset;
    color: #0077cc;
    font-weight: 600;
}

.card-btn:hover {
    cursor: pointer;
}

.card:last-child, .card:last-child .card-btn {
    background-color: #1d2b37;
    color: white;
}


/*media queries for responsive styling */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 740px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .tiles-container .card {
        margin-top: 1.25rem;
        font-size: 1.25rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-body {
        width: 90%;
        line-height: 1.5rem;
        margin-top: -0.5rem;
        font-size: 1rem;
    }
    
}
