body {
    font-family: 'Open Sans Condensed', sans-serif;
    /* padding: 20px 80px; */
    background-color: #f8faff;
    height: 100%;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

